@font-face {
	font-family: 'HelveticaRegular', sans-serif;
	src: url('../fonts/HelveticaRegular.woff2') format('woff2'),
       url('../fonts/HelveticaRegular.woff') format('woff');
  font-weight: 400;

}