html {
  box-sizing: border-box;
}
*, 
*::after,
*::before {
  box-sizing: inherit;
}
body{
  font-family: 'Montserrat', sans-serif;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 723px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__menu-btn{
  width: 30px;
  display: none;
  cursor: pointer;
  .row{
    height: 4px;
    width: 100%;
    margin-bottom: 4px;
    background-color: #fff;
    border-radius: 2px;
  }
}
.title{
  color: $black;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
}