html {
  box-sizing: border-box;
}
*, 
*::after,
*::before {
  box-sizing: inherit;
}
body{
  font-family: 'Montserrat', sans-serif;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 723px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
  color: $black;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
}